<script>
    $('#btn').click(function () {

        var serviceURL = '/Reports/GetVehicleWiseStockReport';
        var data = {
            startDate: $('#txtStartDate').val(),
            endDate: $('#txtEndDate').val()
        }

        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != 0) {
                    alert('Record Inserted');
                }

            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    });

    $(function () {
        $('#txtStartDate,#txtEndDate').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });
    });
</script>


<div class="panel panel-primary" style="width: 100%; height: 100%; margin-top: 20px;" align="center">
    <div class="panel-heading">
      Vehicle Wise Stocks
    </div>
    <div class="panel-body" style="margin-top:30px">
        <div class="col-lg-6">
            <form class="form-horizontal">
               
                <div class="form-group">
                    <label class="control-label col-lg-4">Start Date</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtStartDate" placeholder="Start Date" onkeypress="return false">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">End Date</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtEndDate" placeholder="End Date" onkeypress="return false">
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" id="btn" class="btn btn-default" style="background-color: blue;margin-left:-290px;margin-bottom:-110px; color: white">Submit</button>
                    </div>

                </div>

            </form>

        </div>
        </div>
    </div>

