<script>
    $(function () {
        $('#txtFrom,#txtTo').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });
    });
</script>
<script>
    $(document).ready(function () {
        var uri = window.location.toString();
        if (uri.indexOf("1") > 0) {
            var cleanUri = uri.substring(0, uri.indexOf("1"));
            window.history.replaceState({}, document.title, cleanUri);
        }
    });
</script>
<script>
    $(function() {
        $('#btnShow').click(function() {
            var serviceUrl = '/Reports/RmeWisePerformanceReports';
            var rm = $('#RM option:selected').val();
            var pm = $('#PM option:selected').val();
            var eme = $('#EME option:selected').val();
            var fromDate = $('#txtFrom').val();
            var toDate = $('#txtTo').val();
            var data = {
                RM: rm,
                PM: pm,
                EME: eme,
                fromDate: fromDate,
                toDate:toDate
            };

            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != 0) {
                        alert('Record Inserted');
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        });
    })
</script>
<div class="panel panel-primary" style="height: 100%;  width: 100%;margin-top: 15px" align="center">
    <div class="panel-heading">
        EME Wise Report
    </div>
    <div class="panel-body" id="FinalBillgrid" style="margin-top: 10px;" align="center">
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">From Date</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtFrom" placeholder="From Date" onkeypress="return false">
                    </div>
                </div>
      
                <div class="form-group">
                    <label class="control-label col-lg-4">RM</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("RM", ViewBag.RM as IEnumerable<SelectListItem>, "--Select--", new {@class = "form-control"})
                    </div>
                </div>


            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">To Date</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtTo" placeholder="To Date" onkeypress="return false">
                    </div>
                </div>
       
                <div class="form-group">
                    <label class="control-label col-lg-4">PM</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("PM", ViewBag.PM as IEnumerable<SelectListItem>, "--Select--", new {@class = "form-control"})
                    </div>
                </div>


            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
         
                <div class="form-group">
                    <label class="control-label col-lg-4">EME</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("EME", ViewBag.EME as IEnumerable<SelectListItem>, "--Select--", new {@class = "form-control"})
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" id="btnShow" class="btn btn-default" style="background-color: blue; margin-left: 500px; color: white;">Show Report</button>
                    </div>
                </div>
        
            </form>
        </div>
    </div>

</div>

@if (Model != null)
    {
        @Html.Partial("RmeWisePerformanceReports");
    }

