@model IEnumerable<Fleet_WorkShop.Models.EmployeeModel>

@{
    ViewBag.Title = "EmployeeDetails";
}

<script type="text/javascript">
    $(function() {
        $('#txtDob,#txtJoiningDate,#txtRelievingDate').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });
    });
   
    $(function () {
        var serviceURL = '/Employee/CheckEmployeeId';
        $('#txtEmpId').blur(function () {
            var data = {
                empId: $(this).val()
            }

            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != 0) {
                        alert('Employee Id already exists');
                        $('#txtEmpId').val('');
                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                }
                //error: function (response) {
                //    alert(response.responseText);
                //}
            });
        })
    })

    function Validations() {
        var ddlDepartment = $('#Department option:selected').text().toLowerCase();
        if (ddlDepartment === '--select--' || ddlDepartment === '') {
            return alert("Please select Department");
        }
        var ddlDesignation = $('#Designation option:selected').text().toLowerCase();
        if (ddlDesignation === '--select--' || ddlDesignation === '') {
            return alert("Please select Designation");
        }

        var empName = $('#txtEmployeeName').val();
        if (empName === "") {
            return alert('Employee Name is Mandatory');
        }
        var contactNumber = $('#txtContactNumber').val();
        if (contactNumber === "") {
            return alert('Contact Number is Mandatory');
        }
        var dob = $('#txtDob').val();
        if (dob === "") {
            return alert('Date Of Birth is Required');
        }
        var aadhar = $('#txtAadhar').val();
        if (aadhar === "") {
            return alert('Aadhar Number is Required');
        }
        var doj = $('#txtJoiningDate').val();
        if (doj === "") {
            return alert('Date of Joining is Required');
        }
        //.replace(/\D/g, '/')
        //.replace(/\D/g, '/')
        var dateOfJoining = doj;
        var dob = dob;
        var ordFromDate = new Date(dob);
        var ordToDate = new Date(dateOfJoining);
        var currentDate = new Date();
        if (ordFromDate > currentDate) {
            return alert("Current Date Should be greater than Birth date");
        }
        if (ordToDate < ordFromDate) {
            return alert("Date of Joining date should be greater than birth date");
        }
        var phoneno = /^\d{10}$/;
        if (!($('#txtContactNumber').val().match(phoneno))) {
            return alert("Contact Number is not in correct format");
        }
        var aadharregex = /^\d{12}$/;
        if (!($('#txtAadhar').val().match(aadharregex))) {
            return alert("Aadhar Number is not in correct format");
        }
        var empId = $('#txtEmpId').val();
        if (empId === "") {
            return alert('Employee Id is Required');
        }
        return true;
    }
    $(function () {
        $('#btn').click(function () {

            var serviceURL = '/Employee/SaveEmployeeDetails';
            var data = {
                EmployeeId:$('#txtEmpId').val(),
                EmployeeName: $('#txtEmployeeName').val(),
                ContactNumber: $('#txtContactNumber').val(),
                EmailAddress: $('#txtEmail').val(),
                Dob: $('#txtDob').val(),
                DeptName: $('#Department').val(),
                Desig: $('#Designation').val(),
                AadharNumber: $('#txtAadhar').val(),
                Doj: $('#txtJoiningDate').val(),
                RelievingDate: $('#txtRelievingDate').val(),
                Qualification: $('#txtQualification').val(),
                Experience: $('#txtExperience').val(),
                Salary: $('#txtSalary').val(),
                PayrollId: $('#Payroll').val()

            };
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != 0) {
                        alert('Record Inserted');
                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                }
                //error: function (response) {
                //    alert(response.responseText);
                //}
            });

        })

    });

</script>
@{ ViewContext.FormContext = new FormContext(); }
<div class="panel panel-primary" style="width: 100%; height: 100%; margin-top: 20px;" align="center">
    <div class="panel-heading">
        Employee Information
    </div>
    <div class="panel-body">
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Employee Name</label>
                    <div class="col-lg-8">
                        @*@Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control", placeholder = "Name",id="txtEmployeeName" })*@
                        <input type="text" class="form-control" id="txtEmployeeName" placeholder="Name">
                        @*@Html.ValidationMessageFor(m => m.EmployeeName, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Employee Id</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtEmpId" placeholder="ID">
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label  col-lg-4">Designation</label>
                    <div class="col-lg-8">                                      
                            @Html.DropDownList("Designation", ViewBag.Designation as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })                                       
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Contact Number</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtContactNumber" placeholder="Contact Number" maxlength="10" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Email Address</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtEmail" placeholder="Email Address" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Date Of Birth</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtDob" placeholder="DOB" onkeypress="return false;" >
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Qualification</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" style="margin-top:10px;" id="txtQualification" placeholder="Qualification" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Experience</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtExperience" placeholder="Experience" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" >
                    </div>
                </div>

            </form>
        </div>



        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Salary</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" style="margin-top:10px;" id="txtSalary" placeholder="Salary" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label  col-lg-4">Payroll</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("Payroll", ViewBag.Payroll as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                    </div>
                </div>

            </form>
        </div>

        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Aadhar Number</label>
                    <div class="col-lg-8">
                        <input type="text"  class="form-control" style="margin-top:10px;" id="txtAadhar" placeholder="Aadhar Number" maxlength="12" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Date Of Joining</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtJoiningDate" placeholder="Joining Date" onkeypress="return false;" >
                    </div>
                </div>
               
            </form>
        </div>
    <div class="col-lg-6">
        <form class="form-horizontal">
            <div class="form-group">

                    <label class="control-label  col-lg-4">Department</label>
                    <div class="col-lg-8 ">

                  @Html.DropDownList("Department", ViewBag.DepartmentName as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                    </div>
                </div>          
        </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">

                    <label class="control-label  col-lg-4">Relieving Date</label>
                    <div class="col-lg-8 ">

                        <input type="text" class="form-control" id="txtRelievingDate" placeholder="Relieving Date"  onkeypress="return false;"  >
                    </div>
                </div>
            </form>
        </div>
            <div style="margin-bottom: 90px" class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4" style="margin-bottom: 30px">
                            <button type="submit" id="btn" class="btn btn-default" onclick="if(!Validations()) return false;" style="margin-bottom: -150px; background-color: blue; color: white">Submit</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default"  style="margin-bottom: -150px; background-color: blue; color: white">Reset</button>
                        </div>
                    </div>
                </form>

            </div>
        <div  class="col-lg-6" style="width:100%">
            <form class="form-horizontal">
                <div class="form-group">
                    <div style="margin-top:30px">
                       @Html.Partial("GetEmployeeDetails");
                    </div>
                    
                </div>
            </form>

        </div>


        </div>
   

    <div class="panel-footer">
       
    </div>
</div>




