@model IEnumerable<Fleet_WorkShop.Models.SparePartsModel>

@{
    ViewBag.Title = "SpareParts Master";
}
<link href="~/ScriptsCss/Bindings.css" rel="stylesheet" />
<script type="text/javascript">
   
    //function Validations() {
    //    var ddlDepartment = $('#Department option:selected').text().toLowerCase();
    //    if (ddlDepartment === '--select--' || ddlDepartment === '') {
    //        return alert("Please select Department");
    //    }
    //    var ddlDesignation = $('#Designation option:selected').text().toLowerCase();
    //    if (ddlDesignation === '--select--' || ddlDesignation === '') {
    //        return alert("Please select Designation");
    //    }

    //    var empName = $('#txtEmployeeName').val();
    //    if (empName === "") {
    //        return alert('Employee Name is Mandatory');
    //    }
    //    var contactNumber = $('#txtContactNumber').val();
    //    if (contactNumber === "") {
    //        return alert('Contact Number is Mandatory');
    //    }
    //    var dob = $('#txtDob').val();
    //    if (dob === "") {
    //        return alert('Date Of Birth is Required');
    //    }
    //    var aadhar = $('#txtAadhar').val();
    //    if (aadhar === "") {
    //        return alert('Aadhar Number is Required');
    //    }
    //    var doj = $('#txtJoiningDate').val();
    //    if (doj === "") {
    //        return alert('Date of Joining is Required');
    //    }
    //    //.replace(/\D/g, '/')
    //    //.replace(/\D/g, '/')
    //    var dateOfJoining = doj;
    //    var dob = dob;
    //    var ordFromDate = new Date(dob);
    //    var ordToDate = new Date(dateOfJoining);
    //    var currentDate = new Date();
    //    if (ordFromDate > currentDate) {
    //        return alert("Current Date Should be greater than Birth date");
    //    }
    //    if (ordToDate < ordFromDate) {
    //        return alert("Date of Joining date should be greater than birth date");
    //    }
    //    var phoneno = /^\d{10}$/;
    //    if (!($('#txtContactNumber').val().match(phoneno))) {
    //        return alert("Contact Number is not in correct format");
    //    }
    //    var aadharregex = /^\d{12}$/;
    //    if (!($('#txtAadhar').val().match(aadharregex))) {
    //        return alert("Aadhar Number is not in correct format");
    //    }
    //    var empId = $('#txtEmpId').val();
    //    if (empId === "") {
    //        return alert('Employee Id is Required');
    //    }
    //    return true;
    //}
    $(function () {
        $('#btn').click(function () {
            debugger;
            var serviceURL = '/Inventory/SparePartsMaster';
            var data = {
                ManufacturerId: $('#Manufacturer').val(),
                PartName: $('#txtpartName').val(),
                PartNumber: $('#txtPartNumber').val(),
                Cost: $('#txtCost').val()
               
            };
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != 0) {
                        alert('Record Inserted');
                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                }
                //error: function (response) {
                //    alert(response.responseText);
                //}
            });

        })

    });
</script>
@{ ViewContext.FormContext = new FormContext(); }
<div class="panel panel-primary" style="width: 100%; height: 100%; margin-top: 20px;" align="center">
    <div class="panel-heading">
        Employee Information
    </div>
    <div class="panel-body">
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Manufacturer</label>
                    <div class="col-lg-8">
                 @Html.DropDownList("Manufacturer", ViewBag.Manufacturers as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Part Name</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtpartName" placeholder="Part Name">
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label  col-lg-4">Part Number</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtPartNumber" placeholder="Part Number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Cost</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtCost" placeholder="Cost" >
                    </div>
                </div>

            </form>
        </div>
  
        <div style="margin-bottom: 90px" class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4" style="margin-bottom: 30px">
                        <button type="submit" id="btn" class="btn btn-default" style="margin-bottom: -150px; background-color: blue; color: white">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default" style="margin-bottom: -150px; background-color: blue; color: white">Reset</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-lg-6" style="width:100%">
        <form class="form-horizontal">
            <div class="form-group">
                <div style="margin-top:30px">
                    @Html.Partial("SparePartsPartial");
                </div>

            </div>
        </form>

    </div>
    <div class="panel-footer">

    </div>
</div>




